@import "tailwindcss";

/* =====================
   THEME COLORS
===================== */
@theme {
  --color-primary: 55 65 81;
  --color-secondary: 217 119 6;
  --color-background: 248 245 238;
  --color-text: 107 114 128;
  --color-border: 229 231 235;
  --color-third: 62 81 106;
}


/* =====================
   BASE STYLES
===================== */
@layer base {
  body {
    font-family: "Jost", sans-serif;

    @apply text-primary;

  }
}

@layer utilities {
  

  .cream-bg {
    background-color: rgb(var(--background));
  }
 
  

  .hover-primary:hover {
    color: rgb(var(--primary-hover));
  }


  


 
  .nav-link {
    @apply font-medium text-gray-700 hover:text-primary transition;
  }

  .dropdown-link {
    @apply block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-primary;
  }

  .icon {
    @apply text-xl cursor-pointer hover:text-primary transition;
  }
  .page-header{
    backgroundImage:'url('
  }
}
