@import "tailwindcss";

/* =====================
   THEME COLORS
===================== */



/* =====================
   BASE STYLES
===================== */
@layer base {
  body {
    font-family: "Jost", sans-serif;

    @apply text-primary;

  }
  :root{
    --primary: 55 65 81;
    --secondary: 217 119 6;
    --background: 248 245 238;
    --text: 107 114 128;
    --border: 229 231 235;
    --third: 62 81 106;
  }
}
@layer utilities {
  .cream-bg {
    @apply bg-background;
  }

  .hover-primary:hover {
    @apply text-primary;
  }

  .nav-link {
    @apply font-medium text-gray-700 hover:text-primary transition;
  }

  .dropdown-link {
    @apply block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-primary;
  }

  .icon {
    @apply text-xl cursor-pointer hover:text-primary transition;
  }

  .page-header {
    background-size: cover;
    background-position: center;
  }
}
